

NET "LCD_DataOut[0]" LOC = M15;
NET "LCD_DataOut[1]" LOC = P17;
NET "LCD_DataOut[2]" LOC = R16;
NET "LCD_DataOut[3]" LOC = R15;
NET "LED_An[0]" LOC = A13;
NET "LED_An[1]" LOC = B13;
NET "LED_An[2]" LOC = A14;
NET "LED_An[3]" LOC = B14;
NET "LED_An[4]" LOC = C14;
NET "LED_An[5]" LOC = D14;
NET "Clock" LOC = C9;
NET "LCD_Enable" LOC = M18;
NET "LCD_ReadWrite" LOC = L17;
NET "LCD_RegisterSelect" LOC = L18;
NET "LED_Ca" LOC = B4;
NET "LED_Cb" LOC = A4;
NET "LED_Cc" LOC = D5;
NET "LED_Cd" LOC = C5;
NET "LED_Ce" LOC = A6;
NET "LED_Cf" LOC = B6;
NET "LED_Cg" LOC = E7;
NET "RS232_Txd" LOC = M14;
NET "SPI_Sclk" LOC = A16;
NET "SPI_In" LOC = E13;
NET "SPI_Cs" LOC = B16;
NET "SPI_Out" LOC = G9;

# PlanAhead Generated IO constraints 

NET "LCD_DataOut[3]" IOSTANDARD = LVCMOS33;
NET "LCD_DataOut[2]" IOSTANDARD = LVCMOS33;
NET "LCD_DataOut[1]" IOSTANDARD = LVCMOS33;
NET "LCD_DataOut[0]" IOSTANDARD = LVCMOS33;
NET "LED_An[5]" IOSTANDARD = LVCMOS33;
NET "LED_An[4]" IOSTANDARD = LVCMOS33;
NET "LED_An[3]" IOSTANDARD = LVCMOS33;
NET "LED_An[2]" IOSTANDARD = LVCMOS33;
NET "LED_An[1]" IOSTANDARD = LVCMOS33;
NET "LED_An[0]" IOSTANDARD = LVCMOS33;
NET "Clock" IOSTANDARD = LVCMOS33;
NET "LCD_Enable" IOSTANDARD = LVCMOS33;
NET "LCD_ReadWrite" IOSTANDARD = LVCMOS33;
NET "LCD_RegisterSelect" IOSTANDARD = LVCMOS33;
NET "LED_Cc" IOSTANDARD = LVCMOS33;
NET "LED_Ca" IOSTANDARD = LVCMOS33;
NET "LED_Cb" IOSTANDARD = LVCMOS33;
NET "LED_Cd" IOSTANDARD = LVCMOS33;
NET "LED_Ce" IOSTANDARD = LVCMOS33;
NET "LED_Cf" IOSTANDARD = LVCMOS33;
NET "LED_Cg" IOSTANDARD = LVCMOS33;
NET "RS232_Txd" IOSTANDARD = LVCMOS33;
NET "SPI_Cs" IOSTANDARD = LVCMOS33;
NET "SPI_In" IOSTANDARD = LVCMOS33;
NET "SPI_Out" IOSTANDARD = LVCMOS33;
NET "SPI_Sclk" IOSTANDARD = LVCMOS33;
